<div class="row">
  <div class="text-center col">
    <h1 class="h3 text-primary font-weight-bold">Liste des articles</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-hover table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th style="cursor: pointer;text-align:center;">Id</th>
          <th style="cursor: pointer;text-align:center;">Libellé</th>
          <th style="cursor: pointer;text-align:center;">Prix</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let article of articles">
          <td style="cursor: pointer;text-align:center">{{article.id}}</td>
          <td style="cursor: pointer;text-align:center">{{article.libelle}}</td>
          <td style="cursor: pointer;text-align:center">{{article.prix}} Euro</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>